
.title{
    text-shadow:#0ee8fb 0 0 10px;
    color:white;
    font-size:60px; 
    text-align: center;
}
/* ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
    width:100px;
}
a{
    display: inline;
   
} */

.menu{
    /* display: inline-block; */
    /* width: 1450px;
    margin:0 auto; */
    width: 700px;
    height: 560px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.menu:after,.menu:before{
    margin-top: 0.5em;
    content: "";
    float: left;
    border: 1.5em solid transparent;
}
.menu:after{
    border-right-color: transparent;
}
.menu:before{
    border-left-color: transparent;
}
.menu a:link, .menu a:visited{
    color: #fff;
    text-decoration: none;
    float: left;
    height: 3.5em;
    overflow: hidden;
}
.menu span {
    background:transparent;
    display:inline-block;
    line-height:3em;
    padding:0 1em;
    margin-top:0.5em;
    position:relative;
    
    -webkit-transition: background-color 0.2s, margin-top 0.2s; /* Saf3.2+, Chrome */
    -moz-transition: background-color 0.2s, margin-top 0.2s; /* FF4+ */
    -ms-transition: background-color 0.2s, margin-top 0.2s; /* IE10 */
    -o-transition: background-color 0.2s, margin-top 0.2s; /* Opera 10.5+ */
    transition: background-color 0.2s, margin-top 0.2s;
    }
    .menu a:hover span {
        background: -webkit-linear-gradient(top,#fff,#0ee8fb);;
        margin-top:0;
        }
        
        .menu span:before {
        content: "";
        position:absolute;
        top:3em;
        left:0;
        border-right:0.5em solid #9B8651;
        border-bottom:0.5em solid #fff;
        }
        
        .menu span:after {
        content: “”;
        position:absolute;
        top:3em;
        right:0;
        border-left:0.5em solid #9B8651;
        border-bottom:0.5em solid #fff;
        }
.searchInput{
    width: 18em;
    height: 2.5em;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid silver;
    background-color: transparent;
   
}
input::-webkit-input-placeholder{
    color: #fff !important;
    font-size: 16px;
}
.searchBtn{
    width: 120px;
    height: 30px;
    border-radius: 5px;
    background-color:transparent;
    border: 1px solid silver;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow:#0ee8fb 0 0 10px;
    color:white;
}