<div class="wrapper">
    <div>
        <div style="position: fixed;right: 10px;">
            <input class="searchInput" type="search" placeholder="SEARCH">
            <button class="searchBtn" type="submit">SEARCH</button>
        </div>
    </div>
    <div style="padding-top: 18px;">
        <h1 class="title">EVERYTHING IS POSSIBLE</h1>
    </div>

    <!-- <div class="menu"  style="width: 30%">
      <a routerLink="/">展示首页</a>
      <a [routerLink]="['/product']">展示商品</a>
      <input type="button" value="显示商品" (click)="doClick()">
  </div> -->
    <div class="menu">
        <!-- <app-nav></app-nav>  -->
        <!-- <ul>
       <li><a routerLink="/">Home</a> </li>
       <li><a [routerLink]="['/product']">News</a> </li>
       <li><a [routerLink]="['/children']">Contact</a> </li>
       <li><a [routerLink]="['/children']">About</a> </li>
     </ul> -->
        <a routerLink="/">
            <span>HOME</span>
        </a>
        <a [routerLink]="['/product']">
            <span>NEWS</span>
        </a>
        <a [routerLink]="['/children']">
            <span>CONTACT</span>
        </a>
        <a [routerLink]="['/children']">
            <span>PRODUCT</span>
        </a>
        <a [routerLink]="['/children']">
            <span>ABOUT</span>
        </a>
        <a [routerLink]="['/children']">
            <span>PRODUCT</span>
        </a>

    </div>
    <div style="height:20px; background-image:linear-gradient(to right,transparent,#0ee8fb,transparent);margin-top: 93px;">
    </div>
    <!-- <div style="border-bottom: 6px solid red;margin-top: 5px;">

    </div> -->


</div>