<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div> -->
<!-- <nav>
  <a routerLink="/heroes">Heroes</a>
</nav> -->
<!-- <div style="background: -webkit-linear-gradient(top,#FFFFFF,#FFE1FF); "> -->
  <div style="background:url(../assets/img/techImg.jpg) no-repeat ">
  <!-- <app-nav></app-nav> -->
  <app-my-header></app-my-header>
  <router-outlet></router-outlet>
  <app-my-footer></app-my-footer>
</div>


